body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0d0d0d;
    color: white;
}

.navbar {
    background-color: black;
}

.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1555396273-367ea4eb4db5') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    color: gold;
}

.frase {
    font-style: italic;
    color: #ddd;
}

.section-title {
    color: gold;
    margin-bottom: 30px;
    text-align: center;
}

.menu-item {
    border-bottom: 1px solid #444;
    padding: 10px 0;
}

.gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.btn-gold {
    background-color: gold;
    color: black;
    border: none;
}

.btn-gold:hover {
    background-color: #d4af37;
}

footer {
    background: black;
    text-align: center;
    padding: 20px;
}